*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.HeadingPrimary{
  font-size: 4.4rem;
  letter-spacing:-0.75px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 1rem;

}
.headingTertiary{
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight: 700;
}
a{
  text-decoration: none;
  color: inherit;
}